.center{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* categoriesButtons */
/* categoriesButtons */
.categoriesButtons{
    display: flex;
    justify-content: space-between;
    width: 50%;
    max-width: 600px;
    margin-bottom: 20px;
}

.categoriesButtons button{
    width: 80px;
    height: 25px;
    border: 1px solid black;
    background-color: white;
}

.categoriesButtons button:hover{
    cursor: pointer;
    background-color: rgb(226, 226, 226);
}

/* products */
.products{
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
}