/* image */
.image{
    width: 50%;
    margin-right: 20px;
}

/* formWrapper */
.formWrapper{
    display: flex;
    flex-direction: column;
    width: 50%;
}

/* input */
.input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

/* buttons */
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.buttons > *{
    border: 2px solid black;
    width: 50%;
    height: 50px;
}

.buttons *:first-child{
    margin-right: 5px;
}