/* productText */
.productText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

/* image */
.image{
    width: 50%;
    margin-right: 20px;
}

/* textWrapper */
.textWrapper{
    display: flex;
    flex-direction: column;
    width: 50%;
}

/* buttons */
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.buttons button{
    border: 2px solid black;
    width: 50%;
    height: 50px;
}

.buttons button:first-child{
    margin-right: 5px;
}