/* selector */
.selector{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 50%;
    height: 250px;
    background-color: rgb(196, 196, 196);
    border: 1px solid rgb(146, 146, 146);
    overflow-y: scroll;
    overflow-x: hidden;
}

/* image */
.image{
    background-color: rgb(231, 230, 230);
    border: 1px solid black;
    border-radius: 5px;
}

.image:hover{
    cursor: pointer;
    background-color: rgb(204, 204, 204)
}

.image > img {
    width: 100%;
    height: 100%;
}

/* selected */
.selected{
    background-color: rgb(204, 204, 204);
    border: 2px solid black;
    border-radius: 5px;
}